# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Django\third-project-E-commerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
